version: 2.1

executors:
  linux_builder:
    docker:
      - image: cimg/base:2023.11-20.04
    resource_class: 2X-large
jobs:
  build:
    executor: linux_builder
    steps:
      - checkout
      - run:
           name: Execute shell
           command: "bash run.sh"
workflows:
  version: 2
  build_and_test:
    jobs:
      - build

