version: 2.1
   
jobs:
  build:
    machine:
      image: cimg/gcp:2022.09.1
    steps:
      - checkout
      - run:
           name: Execute bash script
           command: "bash run.sh"
           
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
