version: 2.1
   
jobs:
  build:
    machine:
      image: ubuntu-2404:2024.11.01
      docker_layer_caching: true
    resource_class: large
    steps:
      - checkout
      - run:
           name: Execute bash script
           command: "bash run.sh"
           
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
